<h1>User Page</h1>
<p>Welcome <%= @user.username %></p>

<h2>Your Events</h2>
<% @user.created_events.each do |event| %>
  <p><%= event.title %></p>
  <p><%= event.event_date %></p>
<% end %>

<h2>Events you've attended</h2>
<% @user.attended_events.each do |event| %>
  <p><%= event.title %></p>
  <p><%= event.event_date %></p>
<% end %>