<% if user_signed_in? %>
  <h1>Welcome <%= current_user.username %>!</h1>
  <p> <%= link_to 'Create Event', new_event_path %> </p>
  <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
<% else %>
  <h1>Welcome User!</h1>
  <p><%= link_to "Sign in", new_user_session_path %></p>
  <p>New here? <%= link_to "Sign up!", new_registration_path(:user) %></p>
<% end %>
<% if user_signed_in? %>
  <%= link_to 'User Profile', user_path(current_user) %>
  <% if @events.any? %>
    <h2>Upcoming Events</h2>
    <% if @events.upcoming.nil? %>
      <p>No upcoming events</p>
    <% else %>
      <% @events.upcoming.each do |event| %>
        <h3><%= link_to event.title, event %></h3>
        <p><%= event.description %></p>
      <% end %>
    <% end %>
    <h2>Past Events</h2>
    <% if @events.past.nil? %>
      <p>No past events</p>
    <% else %>
      <% @events.past.each do |event| %>
        <h3><%= link_to event.title, event %></h3>
        <p><%= event.description %></p>
      <% end %>
    <% end %>
    <h1>Event Attendances</h1>
    <ul>
      <% @event_attendances.each do |attendance| %>
        <li><%= attendance.attendee.username %> is attending <%= attendance.attended_event.title %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No Events available yet</p>
  <% end %>
<% else %>
  <% if @events.any? %>
    <h2>Upcoming Events</h2>
    <% if @events.upcoming.nil? %>
      <p>No upcoming events</p>
    <% else %>
      <% @events.upcoming.each do |event| %>
        <h3><%= event.title %></h3>
        <p><%= event.description %></p>
      <% end %>
    <% end %>
    <h2>Past Events</h2>
    <% if @events.past.nil? %>
      <p>No past events</p>
    <% else %>
      <% @events.past.each do |event| %>
        <h3><%= event.title %></h3>
        <p><%= event.description %></p>
      <% end %>
    <% end %>
  <% else %>
    <p>No Events available yet</p>
  <% end %>
<% end %>

